@keyframes dropFromAbove {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

header {
  position: sticky;
  top: 0;
  background-color: #0C233F;
  /* background-image: linear-gradient(white, transparent); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: 500ms ease-in-out 0s 1 dropFromAbove;
  box-shadow: 0px 0px 0px 3px #00000018;
  padding: 0 10%;
  overflow-x: hidden;
  z-index: 1000;
  flex-wrap: wrap;
}

.logo {
  max-width: 120px;
  height: 90px;
  cursor: pointer;
}

.buttonGroup {
  display: flex;
  width: 300px;
  border: 2px solid #444;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease; /* Ensures smooth transition */
}

.buttonGroup button {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 10px 0;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for resizing */
}

.left {
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(202, 201, 201));
}
.center {
  background-image: linear-gradient(to right, rgb(202, 201, 201), rgb(192, 188, 188));
}
.right {
  background-image: linear-gradient(to right, rgb(192, 188, 188), rgb(151, 144, 144));
}

/* Hover Effects for Desktop */
@media only screen and (min-width: 769px) {
  .buttonGroup:hover .center:hover {
    flex: 2;
  }
  .buttonGroup:hover .left:not(:hover),
  .buttonGroup:hover .right:not(:hover) {
    flex: 0.5;
  }
  .buttonGroup:hover .left:hover {
    flex: 2;
  }
  .buttonGroup:hover .center:not(:hover),
  .buttonGroup:hover .right:not(:hover) {
    flex: 0.5;
  }
  .buttonGroup:hover .right:hover {
    flex: 2;
  }
  .buttonGroup:hover .left:not(:hover),
  .buttonGroup:hover .center:not(:hover) {
    flex: 0.3;
  }
}

.buttonGroup img {
  width: 50px;
}

/* Mobile Adjustments */
@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .buttonGroup {
    width: 60%;
    margin:auto;
    margin-left: 70px
  }

  .buttonGroup button {
    font-size: 0.8rem; 
    padding: 8px 0;       
  }

  .buttonGroup button:hover {
    transform: none;
    flex: 1;
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    max-width: 60px;
  }
}

@media print {
  header {
    display: none;
  }
}
