/* this css file will apply to all of the other canvases */
/* keep in mind please */

.container {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background: #eee; 
  }
  
  @media (max-width: 600px) {
    .container {
      height: 500px;
      width: 500px;
    }
  }
  @media (max-width: 1024px) {
    .container {
      height: 400px;
      width: 400px;
      margin-bottom: 30px;
    }
  }